::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: transparent;

    background: #ffffff; 
    background:-webkit-linear-gradient(bottom, #ffffff, #76b8ff); 
    background: -moz-linear-gradient(bottom, #ffffff, #76b8ff); 
    background: -ms-linear-gradient(bottom, #ffffff, #76b8ff); 
    background: -o-linear-gradient(bottom, #ffffff, #76b8ff); 
    background: linear-gradient(to top, #ffffff, #76b8ff);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(237,30,121,0.5);*/ 
    background-color: rgba(   0, 123, 255, 1);
}


/*IE SCROLL*/
body{
  scrollbar-track-color: rgba(0,0,0,0.3);
    scrollbar-face-color:rgba(  91, 192, 222, 0.3);
  }